<h1>Welcome to Word Count</h1>
<form action="/wordcount">
  <div class="form-group">
    <label for="phrase">Enter a phrase</label>
    <input id="phrase" name="phrase" class="form-control" type="text">
    <label for="target">What word would you like counted from phrase?</label>
    <input id="target" name="target" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Word count NOW!</button>
</form>
